In [32]:
import pandas as pd
import numpy as np
rutas="C:\\Users\\VIVELAB\\Documents\\Python\\Estudiantesmarte.csv"
df=pd.read_csv(rutas)

In [21]:
rutas="C:\\Users\\VIVELAB\\Documents\\Python\\Estudiantesmarte.csv"
df.dropna(inplace=True)
df.shape
df.isnull()

    Estudiante   edad   sexo  municipio  nota prog  fallas
0        False  False  False      False      False   False
4        False  False  False      False      False   False
6        False  False  False      False      False   False
9        False  False  False      False      False   False
10       False  False  False      False      False   False
11       False  False  False      False      False   False
12       False  False  False      False      False   False
13       False  False  False      False      False   False

In [27]:
import pandas as pd
import numpy as np
rutas="C:\\Users\\VIVELAB\\Documents\\Python\\Estudiantesmarte.csv"
df=pd.read_csv(rutas)